<div class="breadcrumb">
    <h1>Master</h1>
    <ul>
        <li><a href="">Create Employee</a></li>
        <li>Master</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
 

    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="card-title mb-3">Employee INformation</div>
                <form [formGroup]="formBasic" (ngSubmit)="submit()">
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control form-control-rounded" id="firstName" placeholder="Enter your first name">
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control form-control-rounded" id="lastName" placeholder="Enter your last name">
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control form-control-rounded" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email">
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="phone">Phone</label>
                            <input class="form-control form-control-rounded" id="phone" placeholder="Enter phone">
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="credit">Cradit card number</label>
                            <input class="form-control form-control-rounded" id="credit" placeholder="Card">
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="credit">Website</label>
                            <input class="form-control form-control-rounded" id="credit" placeholder="Web address">
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="picker1">Birth date</label>
                            <div class="input-group">
                                <input id="picker1" class="form-control form-control-rounded" placeholder="yyyy-mm-dd" name="dp"
                                    ngbDatepicker #dp="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary btn-rounded" (click)="dp.toggle()" type="button">
                                        <i class="icon-regular i-Calendar-4"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="picker1">Select</label>
                            <select class="form-control form-control-rounded">
                                <option>Option 1</option>
                                <option>Option 1</option>
                                <option>Option 1</option>
                            </select>
                        </div>

                        <div class="col-md-12">
                            <btn-loading btnClass="btn-primary btn-rounded m-1" [loading]="loading">Submit</btn-loading>
                            <button type="button" class="btn btn-danger btn-rounded  m-1" (click)="clearForm()">Clear</button>
                            <button type="button" class="btn btn-primary btn-rounded  m-1" (click)="cancelPage()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>